.appContainer {
    display: flex;
    justify-content: space-between;
}

.listPanel,
.detailPanel {
    width: 49.5%;
}

h1 {
    font-size: 20px;
    font-weight: 700;
}

.mainCategoryContainer,
.mainSearchContainer,
.mainDetailContainer {
    min-height: 60vh;
    width: 100%;
    padding: 10px 20px;
    position: relative;
    background-color: #fff;
}

.booksPanel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.bookDetails {
    display: flex;
    font-size: 16px;
    margin: 20px 0 30px 0;
}
    .bookDetails .imgContainer {
        width: 130px;
        height: 200px;
        flex-shrink: 0;
        margin-right: 20px
    }
        .img {
            aspect-ratio: .65 / 1;
            width: 100%;
        }
    .textInfoContainer {
        flex-grow: 1;
    }
        .detailTitle {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 5px;
        }
        .detailAuthor {
            margin-bottom: 10px;
        }
        

/* .frameContainer {
    height: 80vh;
} */

.errorMessage {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.errorMessage span{
    font-size: 20px;
    font-weight: 700;
}

.spinnerContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noPreview {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    color: #ffa500;
    border: 1px solid #ffa500;
    font-size: 16px;
    font-weight: 700;
}
