.bookItem {
    width: 230px;
    min-height: 450px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: 20px;
    transition: all .3s ease-out;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    position: relative;

    font-size: 14px;
}

.bookItem:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.bookImg {
    aspect-ratio: .65 / 1;
    width: 100%;
}

.title {
    font-size: 16px;
    font-weight: 700;
    margin: 5px 5px 0 5px;
}
.author {
    margin: 5px 10px;
}
